.EmploymentItem {
    background-color: rgb(255, 254, 254);
}

.Skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}