.ProfileImage {
    display: none;
    width: 20%;
    margin:auto;
    border-radius: 50%;
}

@media only screen and (max-width: 1400px) {
    .ProfileImage {
        display: block;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .ProfileImage {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .ProfileImage {
        width: 40%;
    }
}