.Panel {
    height: 400px;
    /* width: 90%; */
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.PanelSmall {
    width: 25%;
    min-width: 150px;
    height: 300px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.PanelLarge {
    width: 90%;
    margin-left: 5%;
}

.Image {  
    width: 100%;
    height: auto;
    z-index: -1;
}

.Content {
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 1.2em;
}

h3 {
    margin: 0;
}


@media only screen and (max-width: 1000px) {
    .PanelLarge {
        margin-top: 10px;
        margin-top: 10px;
    }

    .PanelSmall {
        margin-left: 1%;
        margin-right: 1%;
        height: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .PanelLarge {
        height: 350px;
    }

    .PanelSmall {
        width: 28%;
    }
}

@media only screen and (max-width: 600px) {
    .PanelLarge {
        height: 300px;
    }

    .PanelSmall {
        width: 30%;
    }
}

@media only screen and (max-width: 550px) {
    .PanelSmall {
        height: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .PanelLarge {
        height: 200px;
    }
    
    .Content {
        font-size: 1em;
    }
}
