@import url('./assets/google_fonts/fonts.css');

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: 'Titillium Web', sans-serif;  
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
